<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Haula</mat-label>
    <input matInput disabled value="202">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Computadora</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>En mantenimiento</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="ingresar descripcion">se encuentra en mantenimiento por: </textarea>
    </mat-form-field>

  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Serie</mat-label>
      <input matInput placeholder="Ex. San Francisco">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>estado</mat-label>
      <input matInput placeholder="Ex. California">
    </mat-form-field></td>
  </tr></table>
</form>
