/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './style/theme-colors';

@include mat.app-background();

html{
  //ng color-scheme: light dark;
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0
  ));
  
}

.dark{
  color-scheme: dark;
}
/*:root {
  @include mat.list-overrides((
    active-indicator-color: orange,
    list-item-selected-trailing-icon-color:red
  ));
}*/

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
 
};



:root {
  @include mat.list-overrides((
    active-indicator-shape:none,
  ));
}
